{% macro foo(b) -%}
    {% if b %}t{% else %}f{% endif -%}
{% endmacro -%}

{% macro bar(b) -%}
    {%- call foo(b) -%}{%- endcall -%}
{% endmacro -%}

{% macro baz(b) -%}
    {%- call bar(b) -%}{%- endcall -%}
{% endmacro -%}

{% macro qux(b) -%}
    {%- call baz(b) -%}{%- endcall -%}
{% endmacro -%}

{%- call foo(false) -%}{%- endcall -%}
{%- call bar(true) -%}{%- endcall -%}
{%- call baz(false) -%}{%- endcall -%}
{%- call qux(true) -%}{%- endcall -%}

{%- call qux(true && false) -%}{%- endcall -%}
{%- call qux(false || true) -%}{%- endcall -%}

{%- call qux(self.t) -%}{%- endcall -%}
{%- call qux(self.f) -%}{%- endcall -%}
{%- call qux(self.f || self.t) -%}{%- endcall -%}

{%- if false -%}
if
{%- else if false || true -%}
elseif
{%- else -%}
else
{%- endif -%}

{%- if true && false -%}
if
{%- else if false -%}
elseif
{%- else -%}
else
{%- endif -%}

{%- if false || true -%}
if
{%- else if (true && false) -%}
elseif
{%- else -%}
else
{%- endif -%}
